{% load i18n %}
{% load wjs_tags %}
{% load truncate %}
<tr class="newsletter-article">
  <td>
    <table class="article" role="presentation" width="100%">
      <tbody>
        <tr class="mobile-hidden">
          <td class="article-info">
            <h3 class="title">
              <a href="{% url 'core_news_item' news.pk %}">{{ news.title }}</a>
            </h3>
          </td>
          <td class="article-date">
            <h5 class="date">{{ news.date_published|date:DATE_FORMAT }}</h5>
          </td>
        </tr>
        <tr class="mobile-visible">
          <td class="article-date">
            <h5 class="date">{{ news.date_published|date:DATE_FORMAT }}</h5>
          </td>
        </tr>
        <tr class="mobile-visible">
          <td class="article-info">
            <h3 class="title">
              <a href="{% url 'core_news_item' news.pk %}">{{ news.title }}</a>
            </h3>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p>{{ news|news_part:'abstract'|safe }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
