{% extends "core/base.html" %}

{% block body %}

    <div class="row">
        {% if error %}
            <p>{% trans "The account does not exist." context "USER FACING" %}</p>
        {% else %}
            <h1 class="acceptation-title">{% trans "Hello" context "USER FACING" %} {{ first_name }} {{ last_name }}!</h1>
            <form class="acceptation-form col s4" action="" method="post">
                {% csrf_token %}
                {{ form.gdpr_checkbox }}
                <label for="{{ form.gdpr_checkbox.id_for_label }}"
                       class="form-group-label">{% trans "Accept GDPR" context "USER FACING" %} </label>

                <button type="submit" class="btn">{% trans "Accept invitation" context "USER FACING" %}</button>
            </form>
        {% endif %}
    </div>

{% endblock body %}
