[Unit]
Description=Daphne ASGI Server for WJS
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/wjs/janeway/src

# Runtime directory (/run/wjs) for socket is expected to exist!

# Logs:
StandardOutput=append:/home/wjs/janeway/logs/daphne.log
StandardError=append:/home/wjs/janeway/logs/daphne.log

# Start Daphne with Unix socket
ExecStart=/home/wjs/.virtualenvs/janeway/bin/daphne \
    --unix-socket /run/wjs/daphne.sock \
    wjs.channels.asgi:application
# No need for --proxy-header (see spiegone in apache-proxy-and-socket.inc)

# Restart policy
Restart=on-failure
RestartSec=5s

# Process management
KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=5

# Security hardening
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target
