[Unit]
Description=Application server for WJS {{ instance_name }}, using Gunicorn with Uvicorn workers
# See also https://gunicorn.org/deploy/#systemd
After=network.target


[Service]
Type=notify
NotifyAccess=main
WorkingDirectory=/home/wjs/{{ full_name }}/src

# Runtime directory (/run/wjs) for socket is expected to exist!

# Start Gunicorn with Uvicorn workers and Unix socket
ExecStart={{ venv_root }}/bin/gunicorn \
    --bind unix:/run/wjs/gunicorn-{{ instance_name }}.sock \
    --worker-class uvicorn.workers.UvicornWorker \
    --workers 2 \
    --access-logfile /home/wjs/{{ full_name }}/logs/app-access.log \
    --error-logfile  /home/wjs/{{ full_name }}/logs/app-error.log \
    wjs.channels.asgi:application
ExecReload=kill -s HUP $MAINPID

# Restart policy
Restart=on-failure
RestartSec=5s

# Process management
KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=5

# Security hardening
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target
