# Install as follows:
# - link to ~/.config/systemd/user/
# - reload systemd user daemond `systemctl --user daemon-reload`
# - enable and start as needed (`systemctl --user enable qcluster.service`, etc.)
# - enable "lingering" for the user: `loginctl enable-linger wjs`
# - to read the log, try `journalctl -q -f --user-unit qcluster.service`
# See also https://www.brendanlong.com/systemd-user-services-are-amazing.html

[Unit]
Description=janeway qcluster runner
After=network.target

[Service]
# No! # Environment="Q_CLUSTER_NAME=qcluster-test"  # gives KeyError: 'ALT_CLUSTERS' (see docs)
# User=wjs  # Not needed when installing as user unit
WorkingDirectory=/home/wjs/janeway/src
ExecStart=/home/wjs/.virtualenvs/janeway/bin/python manage.py qcluster

[Install]
WantedBy=default.target
