{% load i18n %}
{% if request.user.is_hijacked %}
  {% with request.user as user %}
    <div id="hijacked-warning-wrapper">
      <div id="hijacked-warning" class="hijacked-warning hijacked-warning-default">
        <div class="hijacked-warning-controls hijacked-warning-controls-pull-right">
          <span><b>{% blocktrans %}You are working on behalf of {{ user }}{% endblocktrans %}</b></span>
          <form action="{% url 'hijack:release' %}?next={{ request.path }}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm">{% translate "Release" %} <i class="bi bi-box-arrow-right"></i></button>
          </form>
        </div>
        <div class="hijacked-warning-controls hijacked-warning-controls-pull-right">
          <form action="{% url "set_notify_hijack" %}?next={{ request.path }}" method="post">
            {% translate "Notifications to" %} {{ user }} {% if not request.session.silent_hijack %}{% translate "are enabled" %}{% else %}{% translate "are disabled" %}{% endif %}
            <button class="btn {% if not request.session.silent_hijack %}btn-danger{% else %}btn-primary{% endif %} btn-sm">
              {% if request.session.silent_hijack %}
                {% translate "Enable" %}
                <i class="bi bi-bell-fill"></i>
              {% else %}
                {% translate "Disable" %}
                <i class="bi bi-bell-slash-fill"></i>
              {% endif %}
            </button>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  {% endwith %}
{% endif %}
