{% extends "admin/submission/source/submit_info.html" %}
{% load static %}

{% block nav %}
  {% include "admin/elements/submit/nav_header.html" %}
{% endblock nav %}

{% block title-section %}
  <div class="container">
    {{ block.super }}
  </div>
{% endblock title-section %}

{% block title-sub %}
  <div class="container">
    {{ block.super }}
  </div>
{% endblock title-sub %}

{% block body %}
  <div class="container">
    {{ block.super }}
  </div>
{% endblock body %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block js %}
  {% include "admin/elements/submit/nav_js.html" %}
{% endblock js %}
