{% load django_bootstrap5 hooks press_url static %}

<button class="btn d-lg-none mb-2 fs-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-label="Open navigation menu">
  <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
</button>

<div class="offcanvas offcanvas-start wjs-sidebar-nav" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="nav flex-column mb-5">
      {% if request.journal.nav_home %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'website_index' %}">{% trans "Home" %}</a>
        </li>
      {% endif %}
      {% if request.journal.nav_news %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'core_news_list' %}">{% trans "News" %}</a>
        </li>
      {% endif %}
      {% if request.journal.nav_articles %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'journal_articles' %}">{% trans "Articles" %}</a>
        </li>
      {% endif %}
      {% if request.journal.nav_issues %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'journal_issues' %}">{% trans "Issues" %}</a>
        </li>
      {% endif %}
      {% if journal_settings.general.enable_editorial_display == 'on' %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'editorial_team' %}">{% trans "Editorial Team" %}</a>
        </li>
      {% endif %}
      {% if request.journal.nav_sub %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'journal_submissions' %}">{% trans "Submission" %}</a>
        </li>
      {% endif %}
      {% if request.journal.nav_contact %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'contact' %}">{% trans "Contact" %}</a>
        </li>
      {% endif %}

      {% for item in navigation_items %}
        {% if item.has_sub_nav %}
          <li class="nav-item wjs-nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sidebarDropdown{{ forloop.counter }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ item.link_name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="sidebarDropdown{{ forloop.counter }}">
              {% if item.link %}
                <li>
                  <a class="dropdown-item" href="{{ item.url }}">{{ item.link_name }}</a>
                </li>
              {% endif %}
              {% for subnav in item.sub_nav_items %}
                <li>
                  <a class="dropdown-item" href="{{ subnav.url }}">{{ subnav.link_name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="nav-item wjs-nav-item">
            <a class="nav-link" href="{{ item.url }}">{{ item.link_name }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if request.user.is_authenticated %}
        <li class="nav-item wjs-nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="sidebarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Account" %}
          </a>
          {% include "wjs/base/elements/user_menu_dropdown_list.html" %}
        </li>
      {% else %}
        <li class="nav-item wjs-nav-item">
          <a class="nav-link" href="{% url 'core_login' %}">{% trans "Login" %}</a>
        </li>
      {% endif %}

      {% if request.available_languages|length > 1 %}
        <li class="nav-item wjs-nav-item">
          <form class="language-select nav-link p-0" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.PATH }}" />
            <div class="btn-group" role="group">
              {% for language in LANGUAGE_CODE %}
                {% if language.code in request.available_languages %}
                  <button type="submit"
                          name="language"
                          value="{{ language.code }}"
                          class="btn btn-sm {% if language.code == LANGUAGE_CODE %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                    {{ language.code }}
                  </button>
                {% endif %}
              {% endfor %}
            </div>
          </form>
        </li>
      {% endif %}
    </ul>

    <div class="px-4 d-flex flex-column gap-5">
      <a class="btn btn-primary wjs-search-button text-center" tabindex="0" href="#" aria-label="{% trans "Search" %}" title="{% trans "Search" %}">
        <i class="bi bi-search wjs-search-button__icon" aria-hidden="true"></i>
      </a>

      {% include "wjs/base/elements/header_socials.html" with sidebar=True %}
    </div>
  </div>
</div>
