span.badge {
  height: auto;
  padding: 10px;

  &.language {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    color: rgb(33, 37, 38);
    padding: 5px;
  }

  &.new {
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;

    &:after {
      display: none;
    }

    &.color-section {
      &-1 {
        background-color: #88ccee; // article
        color: #000;

        &:hover {
          background-color: #bae2f7;
        }
      }

      &-2 {
        background-color: #882255; // editorial

        &:hover {
          background-color: #d44c90;
        }
      }

      &-3 {
        background-color: #ddcc77; // practice insight
        color: #000;

        &:hover {
          background-color: #fff3b9;
        }
      }

      &-4 {
        background-color: #aa4499; // book review

        &:hover {
          background-color: #ffa5f0;
        }
      }

      &-5 {
        background-color: #44aa99; // essay

        &:hover {
          background-color: #7ae7d5;
        }
      }

      &-6 {
        background-color: #332288; // conference review

        &:hover {
          background-color: #5847af;
        }
      }

      &-7 {
        background-color: #117733; // commentary

        &:hover {
          background-color: #3fb968;
        }
      }

      &-8 {
        background-color: #cc6677; // letter

        &:hover {
          background-color: #fc9eae;
        }
      }

      &-9 {
        background-color: #e48100; // review article

        &:hover {
          background-color: #ffcc8a;
        }
      }
    }
  }
}

