span.badge {
  // The first section id (&-1) is for JCOM, the second (&-11) for JCOMAL
  &.color-section {
    &-1,
    &-11 {
      background-color: #88ccee; // article
      color: #000;

      &:hover {
        background-color: #bae2f7;
      }
    }

    &-2,
    &-17 {
      background-color: #882255; // editorial

      &:hover {
        background-color: #d44c90;
      }
    }

    &-3,
    &-16 {
      background-color: #ddcc77; // practice insight
      color: #000;

      &:hover {
        background-color: #fff3b9;
      }
    }

    &-4,
    &-15 {
      background-color: #aa4499; // book review

      &:hover {
        background-color: #ffa5f0;
      }
    }

    &-5,
    &-14 {
      background-color: #44aa99; // essay

      &:hover {
        background-color: #7ae7d5;
      }
    }

    &-6 {
      background-color: #332288; // conference review

      &:hover {
        background-color: #5847af;
      }
    }

    &-7,
    &-12 {
      background-color: #117733; // commentary

      &:hover {
        background-color: #3fb968;
      }
    }

    &-8,
    &-13 {
      background-color: #cc6677; // letter

      &:hover {
        background-color: #fc9eae;
      }
    }

    &-9,
    &-10,
    &-18 {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }
  }
  &.color-state {
    &-editortobeselected {
      background-color: #88ccee; // article
      color: #000;

      &:hover {
        background-color: #bae2f7;
      }
    }

    &-editorselected {
      background-color: #882255; // editorial

      &:hover {
        background-color: #d44c90;
      }
    }

    &-submitted {
      background-color: #ddcc77; // practice insight
      color: #000;

      &:hover {
        background-color: #fff3b9;
      }
    }

    &-toberevised {
      background-color: #aa4499; // book review

      &:hover {
        background-color: #ffa5f0;
      }
    }

    &-withdrawn {
      background-color: #44aa99; // essay

      &:hover {
        background-color: #7ae7d5;
      }
    }

    &-rejected {
      background-color: #332288; // conference review

      &:hover {
        background-color: #5847af;
      }
    }

    &-incompletesubmission {
      background-color: #117733; // commentary

      &:hover {
        background-color: #3fb968;
      }
    }

    &-notsuitable {
      background-color: #cc6677; // letter

      &:hover {
        background-color: #fc9eae;
      }
    }

    &-paperhaseditorreport {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-accepted {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-typesetterselected {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-readyfortypesetter {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-proofreading {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-papermighthaveissues {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-published {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-readyforpublication {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }

    &-sendtoeditorforcheck {
      background-color: #e48100; // review article

      &:hover {
        background-color: #ffcc8a;
      }
    }
  }
}
