span.badge {
  height: auto;
  padding: 0.6rem;

  &.language {
    background-color: color("grey", "lighten-1");
    border-radius: 0.3rem;
    color: color("grey", "darken-4");
    padding: 0.3rem;
  }

  &.new {
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;

    &:after {
      display: none;
    }
  }
}
