.cms-page {
  .cms-page-content-description {
    p {
      margin-bottom: 1.5rem;
    }
  }

  .divider {
    display: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
  }

  h1 {
    @extend .main-title;
  }

  h2 {
    @extend .secondary-title;
  }

  h1,
  h2 {
    border-bottom: 1px solid color("grey", "lighten-2");
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
  }
}