.cms-page {
  .cms-page-content-description {
    p {
      margin-bottom: 1.5rem;
    }
  }

  .divider {
    display: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
  }

  h1 {
    @extend .main-title;
  }

  h2 {
    @extend .secondary-title;
  }

  h1,
  h2 {
    border-bottom: $border-base;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  ul {
    margin-left: 1rem;
    li {
      list-style: disc;
    }
  }

  strong {
    @extend b;
  }
}

.news-item {
  margin: 1.5rem 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
