@font-face{
  font-family:'Flaticon';
  src:url("#{$flaticon-font-path}Flaticon.eot");
  src:
      url("#{$flaticon-font-path}Flaticon.svg") format('svg'),
      url("#{$flaticon-font-path}Flaticon.woff") format('woff'),
      url("#{$flaticon-font-path}Flaticon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}