.input-field {
  label.input-field-label {
    padding-left: 2rem;
    pointer-events: all;
  }

  .jqte {
    position: relative;
    top: 34px;
    margin-top: 0;
    margin-bottom: 60px;

    & + label.input-field-label {
      position: absolute;
    }
  }
}

.newsletter-form {
  [type="checkbox"] + label {
    height: 1rem;
    padding-left: 25px;
  }
}
