.required_field {
  label::after {
    content: "*" !important;
    color: color("red", "base");
    position: relative !important;
    opacity: 1 !important;
    display: inline !important;
    font-size: 1.3em;
  }
}

.tagit {
  padding: 0.5em;
}

.tagit-new {
  display: none;
}

.helper-text.form-error {
  color: color("red", "base");
  font-size: 0.9rem;
  padding-top: -10px;
}
