.full-width-card {
  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;

  .card-image {
    @media screen and (max-width: 1023px) {
      padding-right: 24px;
    }

    flex: 1 1 50%;
    padding: 24px;
    padding-right: 12px;
  }

  .card-content {
    flex: 1 1 100%;
    padding: 24px;
  }

  &-image {
    align-items: center;
    display: flex;
    
    + .card-content {
      @media screen and (max-width: 1023px) {
        padding-left: 24px;
      }

      padding-left: 12px;
    }
  }
}
