.article {
  &-title {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
  }

  &-authors {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .email-link {
      margin-left: 10px;
    }
  }

  &-author {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    margin-right: 10px;
  }

  &-documents {
    align-items: center;
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    &-title {
      color: var(--primary);
      font-size: 1.5rem;
    }

    i {
      transition: linear .3s;
    }

    &.active {
      i {
        transform: rotate(-180deg);
        transition: linear .3s;
      }
    }

    &-list {
      border-bottom: 0;
      border-top: 1px solid $collapsible-border-color;

      &-item {
        border-bottom: 1px solid $collapsible-border-color;
        margin-bottom: 20px;
      }

      &-item-title {
        margin: 0 0 10px 0;
        max-width: 80%;
      }

      &-item-header {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &-body {
    h2,
    h3,
    h4 {
      color: var(--primary);
      font-size: 1.5rem;
    }

    .card .card-content p {
      margin-bottom: 20px;
    }

    dd {
      margin-left: 0;
    }
  }

  &-sidebar {
    &-title {
      color: var(--primary-light);
      font-size: 1.5rem;
    }

    &-keywords-list {
      display: flex;
      flex-direction: column;
      margin: 0;

      li {
        width: 100%;
      }
    }
    
    &-download {
      &:before {
        font-family: 'Flaticon';
        font-size: 1.6em;
        font-style: normal;
        margin-left: 0 !important;
        margin-right: 0.4em;
        content:"";
        text-decoration: none;
        display: inline-block;
      }

      &-pdf {
        &:before {
          color: #c62828;
          content: "\f10a";
        }
      }

      &-epub {
        &:before {
          color: #85b916;
          content: "\f102";
        }
      }
    }

    .spacer {
      margin: 10px 0;
    }
  }
}


.article-listing-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;

  &-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    &-authors {
      margin: 0;
    }

    .article-title {
      margin-top: 0;
      max-width: 80%;
    }
  }

  &-volume {
    margin: 0;
    text-align: right;
  }
  
  .genealogy {
    h6 {
      font-size: 1.15rem;
    }

    &-item {
      border-bottom: 1px solid $collapsible-border-color;
      margin-bottom: 15px;
      padding-bottom: 10px;
    }
  }
}