.collapsible-search {
  &.collapsible {
    border: 0;
    box-shadow: none;
  }

  .collapsible-header {
    border-color: #9e9e9e;
    margin-bottom: 1rem;
    padding: .5rem 0;
    position: relative;

    .caret {
      color: initial;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 10px;
      margin: auto 0;
      font-size: 10px;
      line-height: 10px;
    }
  }

  .collapsible-body {
    padding: 0 0 .5rem 0;
  }
}