.full-width-card {
  @media screen and (max-width: $large-screen) {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;

  .card-image {
    @media screen and (max-width: $large-screen) {
      padding-right: $margin-large;
    }

    flex: 1 1 50%;
    padding: $margin-large;
    padding-right: $margin-large-half;
  }

  .card-content {
    flex: 1 1 100%;
    padding: $margin-large;
  }

  &-image {
    align-items: center;
    display: flex;

    + .card-content {
      @media screen and (max-width: $large-screen) {
        padding-left: $margin-large;
      }

      padding-left: $margin-large-half;
    }
  }
}
