body {
  background-color: color("grey", "lighten-4");
}

/* submission form */
.button.success {
  background-color: color("journal-color", "base");
  color: color("shades", "white");
}

.button.success:hover,
.button.success:focus {
  background-color: color("journal-color", "lighten-1");
  color: color("shades", "white");
}

.main-title {
  color: color("journal-color", "base");
  font-size: 2.5rem;
  font-weight: bold;
}

.secondary-title {
  color: color("journal-color", "accent-1");
  font-size: 1.5rem;
  font-weight: bold;
}
