/* FIXME: add media queries to create a single column grid <1024 */
.homepage-grid {
  @media screen and (max-width: 1023px) {
    grid-template-areas:
    'main'
    'sidebar-element-2'
    'sidebar-element-3'
    'sidebar-element-4'
    'sidebar-element-5'
    'sidebar-element-6'
    'sidebar-element-7'
    ;
  }

  display: grid;
  grid-template-areas:
  'main main sidebar-element-2'
  'main main sidebar-element-3'
  'main main sidebar-element-4'
  'main main sidebar-element-5'
  'main main sidebar-element-6'
  'main main sidebar-element-7'
  ;
  column-gap: 2rem;
}

.homepage-element {
  h2 {
    @extend .main-title;
  }

  .card-panel h2 {
    @extend .secondary-title;
  }
}

.homepage-element-1 {
  grid-area: main;
}

.homepage-element-2 {
  grid-area: sidebar-element-2;
}

.homepage-element-3 {
  grid-area: sidebar-element-3;
}

.homepage-element-4 {
  grid-area: sidebar-element-4;
}

.homepage-element-5 {
  grid-area: sidebar-element-5;
}

.homepage-element-6 {
  grid-area: sidebar-element-6;
}

.homepage-element-7 {
  grid-area: sidebar-element-7;
}
