.collapsible-search {
  &.collapsible {
    border: 0;
    box-shadow: none;
  }

  .collapsible-header {
    border-color: color("grey", "base");
    margin-bottom: $margin-full;
    padding: $margin-half 0;
    position: relative;

    .material-icons.right {
      color: initial;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  .collapsible-body {
    border-bottom: none;
    padding: 0 0 $margin-half 0;

    .col > label {
      display: none;
    }
  }
}
