nav {
  color: color("blue-grey", "darken-4");
  background-color: color("blue-grey", "lighten-5");

  li {
    line-height: 56px;
  }

  .brand-logo {
    padding: 1rem 0 0 0;
    position: relative;

    img {
      width: 100%;
    }
  }

  .sidenav-trigger {
    float: right;
  }

  .input-field {
    button {
      line-height: 0;
      margin: $margin-half;
      padding: $margin-half;
    }
  }
}

.top-nav {
  line-height: 1;
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: flex-end;
  }

  &-items {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: $margin-half 0;
  }
}

.bottom-nav {
  display: flex;
  justify-content: space-between;

  .bottom-nav-menu {
    display: flex;
    flex-wrap: wrap;

    ul {
      float: none;
    }
  }
}
