nav {
  color: color("blue-grey", "darken-4");
  background-color: color("blue-grey", "lighten-5");

  li {
    line-height: 56px;
  }

  .brand-logo {
    padding: 1rem 0 0 0;
    position: relative;

    img {
      width: 100%;
    }
  }

  .sidenav-trigger {
    float: right;
  }

  .input-field {
    button {
      line-height: 0;
      margin: $margin-half;
      padding: $margin-half;
    }
  }
}

.top-nav {
  line-height: 1;
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: flex-end;
  }

  &-items {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

.bottom-nav {
  display: flex;
  justify-content: space-between;

  .bottom-nav-menu {
    display: flex;
    flex-wrap: wrap;

    ul {
      float: none;
    }
  }
}

.language-select {
  height: 56px;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 1023px) {
    justify-content: center;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    margin: 0.9rem 0;

    &:after {
      content: " ";
      border-right: 2px solid color("journal-color", "lighten-2");
      height: 0.7rem;
      margin: 0.5rem;
    }
  }

  &__button {
    background: transparent;
    border: none;
    color: color("shades", "black");
    font-size: 0.8rem;
    margin: 0 0.5rem;
    text-transform: uppercase;

    &:focus {
      background-color: transparent;
    }

    &:hover {
      color: color("journal-color", "accent-1");
    }

    &--selected {
      font-weight: 500;
      color: color("journal-color", "base");
    }
  }
}
