body {
  @media (min-width: 768px) {
    padding: 2rem !important;
  }
  @media (min-width: 1024px) {
    padding: 3rem !important;
  }
}

.container {
  @media (min-width: 768px) {
    padding: 0 2rem !important;
  }
}

.logos {
  @media (min-width: 768px) {
    display: flex !important;
    flex-wrap: nowrap !important;
  }
}

.logos__line-container {
  @media (min-width: 768px) {
    order: 1 !important;
    margin-bottom: 0 !important;
  }
}

.logos__left {
  @media (min-width: 768px) {
    order: 0 !important;
    width: auto !important;
    align-content: start;
    display: flex;
    float: none;
    justify-content: flex-start;
  }
}

.logos__right {
  @media (min-width: 768px) {
    order: 2 !important;
    width: auto !important;
    justify-content: end !important;
    align-items: end;
    align-self: end;
    display: flex;
  }
}

.mobile-visible {
  @media (min-width: 768px) {
    display: none !important;
  }
  @media (max-width: 767px) {
    display: block;
  }
}

.mobile-hidden {
  @media (min-width: 768px) {
    display: block !important;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
