@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

a {
  text-decoration: none;
  color: color("journal-color", "darken-2");
}

body {
  background: color("grey", "lighten-5");
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  text-align: left;
}

.container {
  clear: both;
  margin-bottom: 2.5rem;
  padding: 0;
  text-align: left;
}

.logos {
  background: none;
  margin-bottom: 1.25rem;

  &__left {
    float: left;
    max-width: 225px;
    margin-bottom: -1rem;

    img {
      width: 100%;
    }
  }

  &__line-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: color("journal-color", "base");
    float: left;
    width: 88%;
    text-align: left;
    border-bottom: 4px solid color("journal-color", "base");
    margin-left: 20px;
    padding-top: 20px;
  }

  &__line {
    border-bottom: 1px solid color("journal-color", "base");
  }

  &__right {
    position: absolute;
    text-align: right;
    max-width: 40px;
    right: 20px;

    img {
      width: 100%;
    }
  }
}

h2 {
  background: color("grey", "lighten-5");
  color: color("journal-color", "base");
  border-bottom: 1px solid color("journal-color", "base");
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.section-name {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.title {
  color: color("journal-color", "darken-2");
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.author {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.date {
  color: color("journal-color", "base");
  margin-bottom: 0;
  margin-top: 1rem;
}

.divider {
  margin: 1.25rem 0;
}

.unsubscribe {
  font-size: 0.75rem;
  text-align: center;
}

.header {
  &-cell {
    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
    }
  }
}

.mobile-hidden {
  display: none;
}

.article {
  border-bottom: 1px solid color("grey", "lighten-1");
  width: 100%;
}
