body {
  @media (min-width: 768px) {
    padding: 2rem !important;
  }
  @media (min-width: 1024px) {
    padding: 3rem !important;
  }
}

.container {
  @media (min-width: 768px) {
    padding: 0 2rem !important;
  }
}

.logos__left {
  @media (min-width: 768px) {
    max-width: 225px !important;
    align-content: start;
    display: flex;
    float: none;
    justify-content: flex-start;
  }
}

.logos__right {
  @media (min-width: 640px) {
    right: 55px !important;
  }

  @media (min-width: 768px) {
    max-width: 40px !important;
  }
}

.logos__line-text {
  @media (min-width: 520px) {
    padding: 40px 0 10px 0 !important;
    width: 50% !important;
  }

  @media (min-width: 640px) {
    width: 55% !important;
  }

  @media (min-width: 640px) {
    width: 60% !important;
  }

  @media (min-width: 768px) {
    width: 65% !important;
    font-size: 2rem !important;
    padding: 30px 0 10px 0 !important;
  }

  @media (min-width: 1024px) {
    width: 70% !important;
  }

  @media (min-width: 1280px) {
    width: 75% !important;
  }

  @media (min-width: 1440px) {
    width: 80% !important;
  }

  @media (min-width: 1920px) {
    width: 85% !important;
  }
}

.mobile-visible {
  @media (min-width: 1024px) {
    display: none !important;
  }
  @media (max-width: 1024px) {
    display: flex;
    align-items: flex-start;
  }
}

.mobile-hidden {
  @media (min-width: 1024px) {
    display: flex !important;
    align-items: flex-start;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.article-info {
  @media (min-width: 1024px) {
    width: 85%;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.article-date {
  @media (min-width: 1024px) {
    text-align: right;
    width: 15%;
  }
  @media (max-width: 1024px) {
    text-align: left;
    width: 100%;
  }
}
