// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Carousel
//  6. Collapsible
//  7. Chips
//  8. Date + Time Picker
//  9. Dropdown
//  10. Fonts
//  11. Forms
//  12. Global
//  13. Grid
//  14. Navigation Bar
//  15. Side Navigation
//  16. Photo Slider
//  17. Spinners | Loaders
//  18. Tabs
//  19. Tables
//  20. Toasts
//  21. Typography
//  22. Footer
//  23. Flow Text
//  24. Collections
//  25. Progress Bar

// To customize variables, copy the variables from `materialize-src/sass/variables` and write it here removing the

// 1. Colors
// ==========================================================================

$roboto-font-path: "../fonts/roboto/";
$flaticon-font-path: "../fonts/flaticon/";

$primary-color: color("journal-color", "darken-2");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$primary-base: color("journal-color", "base");

$secondary-color: color("journal-color", "darken-4");
$button-floating-background: color("journal-color", "darken-4");
$button-floating-background-hover: color("journal-color", "lighten-1");
$button-raised-background: color("journal-color", "darken-4");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("journal-color", "darken-1");

// 14. Navigation Bar
// ==========================================================================

$navbar-height: auto;
$navbar-line-height: $navbar-height;
$navbar-height-mobile: 56px;
$navbar-line-height-mobile: $navbar-height-mobile;
$navbar-font-size: 1rem;
$navbar-font-color: color("blue-grey", "darken-4");
$navbar-bg-color: color("blue-grey", "lighten-5");
$navbar-brand-font-size: 2.1rem;

// 22. Footer
// ==========================================================================

$footer-font-color: color("grey", "darken-2");
$footer-bg-color: color("grey", "lighten-5");
$footer-copyright-font-color: color("blue-grey", "darken-2");
$footer-copyright-bg-color: rgba(51, 51, 51, 0.08);

// 21. Typography
// ==========================================================================

$off-black: rgba(0, 0, 0, 0.87);
// Header Styles
$h1-fontsize: 2.5rem;
$h2-fontsize: 2.2rem;
$h3-fontsize: 2rem;
$h4-fontsize: 1.8rem;
$h5-fontsize: 1.6rem;
$h6-fontsize: 1rem;

$margin-large: 1.5rem;
$margin-full: 1.2rem;
$margin-large-half: 0.75rem;
$margin-half: 0.6rem;
$border-base: 1px solid $collapsible-border-color;
