.volumes-container {
  display: flex;
  flex-direction: column;
  gap: $margin-full;

  &__title {
    color: color("journal-color", "base");
    font-weight: bold;
  }
}

.volume {
  background: white;
  padding: $margin-full;

  &__title {
    color: color("journal-color", "lighten-1");
  }
}

.volumes-list {
  display: flex;
  flex-direction: column;
  gap: $margin-half;
}

.issue-archive {
  &-volume {
    align-items: center;
    background-color: color("journal-color", "lighten-1");
    color: color("grey", "lighten-5");
    flex-direction: row;
    justify-content: space-between;

    h5 {
      font-size: 1rem;
      font-weight: bold;
    }

    i {
      transition: linear 0.3s;
    }

    &.active {
      i {
        transform: rotate(-180deg);
        transition: linear 0.3s;
      }
    }
  }

  &-volume-list {
    padding: 0;
  }
}
