{% extends "wjs/base/base.html" %}
{% load static wjs_tags %}

{% block content_wrapper %}
  {% get_profile_section as profile_section %}
  {% url "core_edit_profile" as core_edit_profile %}
  {% url "core_edit_profile_email" as core_edit_profile_email %}
  {% url "core_edit_profile_password" as core_edit_profile_password %}
  {% url "core_edit_profile_additional" as core_edit_profile_additional %}
  {% url "core_edit_profile_interests" as core_edit_profile_interests %}
  {% url "core_edit_profile_affiliations" as core_edit_profile_affiliations %}
  {% url "edit_newsletters" as edit_newsletters %}
  <main class="container mb-3 bg-white p-4 flex-grow-1">
    <div class="row">
      {% if request.user.is_authenticated %}
        <div class="col-sm-12 col-md-3">
          {% block profile_sidebar %}
            <nav class="wjs-profile-nav" aria-label="Profile navigation">
              {% if settings.DEBUG %}
                <div class="h6 text-secondary text-opacity-50">

                </div>
              {% endif %}
              <ul class="wjs-profile-nav__list">
                <li class="wjs-profile-nav__item{% if profile_section == "core_edit_profile" %} wjs-profile-nav__item--active{% endif %}">
                  <a class="wjs-profile-nav__link" href="{{ core_edit_profile }}">Personal Details</a>
                </li>
                <li class="wjs-profile-nav__item{% if profile_section == "core_edit_profile_affiliations" %} wjs-profile-nav__item--active{% endif %}">
                  <a class="wjs-profile-nav__link" href="{{ core_edit_profile_affiliations }}">Affiliations</a>
                </li>
                <li class="wjs-profile-nav__item{% if profile_section == "core_edit_profile_email" %} wjs-profile-nav__item--active{% endif %}">
                  <a class="wjs-profile-nav__link" href="{{ core_edit_profile_email }}">Email</a>
                </li>
                <li class="wjs-profile-nav__item{% if profile_section == "core_edit_profile_password" %} wjs-profile-nav__item--active{% endif %}">
                  <a class="wjs-profile-nav__link" href="{{ core_edit_profile_password }}">Password</a>
                </li>
                <li class="wjs-profile-nav__item{% if profile_section == "core_edit_profile_interests" %} wjs-profile-nav__item--active{% endif %}">
                  <a class="wjs-profile-nav__link" href="{{ core_edit_profile_interests }}">Keywords</a>
                </li>
                <li class="wjs-profile-nav__item{% if profile_section == "core_edit_profile_additional" %} wjs-profile-nav__item--active{% endif %}">
                  <a class="wjs-profile-nav__link" href="{{ core_edit_profile_additional }}">Additional information</a>
                </li>
                {% if journal|is_field_available:"publication_alert" %}
                  <li class="wjs-profile-nav__item{% if profile_section == "edit_newsletters" %} wjs-profile-nav__item--active{% endif %}">
                    <a class="wjs-profile-nav__link" href="{{ edit_newsletters }}">Publication alert</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endblock profile_sidebar %}
        </div>
      {% endif %}
      <div class="col-sm-12 {% if request.user.is_authenticated %}col-md-9{% else %}col-md-12{% endif %}">
        {% block profile_form %}
        {% endblock profile_form %}
      </div>
    </div>
  </main>
{% endblock content_wrapper %}
