{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 %}

{% block profile_form %}
<h1 class="wjs-profile-form__title">Email</h1>
<p>If you want to change your email address you may do so below, however,  you will be logged out and your account will be marked as inactive until you follow the instructions in the verification email. Note: Changing your email address will also change your username as these are one and the same.</p>
  <form class="wjs-profile-form" method="post" enctype="multipart/form-data">
    <div class="wjs-profile-form__main">
      {% csrf_token %}
      {% bootstrap_field form.email %}
    </div>
    <div class="wjs-profile-form__footer">
      <button type="submit" class="wjs-profile-form__update-button">Update</button>
    </div>
  </form>
{% endblock profile_form %}
