{% extends "wjs/profile/base.html" %}
{% load wjs_tags %}

{% block profile_form %}
  <h1 class="wjs-profile-form__title">Keywords</h1>
  <form class="wjs-profile-form" method="post" enctype="multipart/form-data">

    <div class="wjs-profile-form__main">
      {% csrf_token %}
      {% regroup form.keywords|decorate_widgets_for_regroup by first_letter as keyword_list %}
      {% for group in keyword_list %}
        <h4>{{ group.grouper }}</h4>
        {% for keyword in group.list %}
          <div class="form-check d-flex flex-row">
            <input class="form-check-input" type="checkbox" name="{{ keyword.name }}" value="{{ keyword.value }}" id="{{ form.keywords.id_for_label }}-{{ keyword.value }}" {% if keyword.selected %}checked{% endif %}>
            <label class="form-check-label" for="{{ form.keywords.id_for_label }}-{{ keyword.value }}">
              {{ keyword.choice_label }}
            </label>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="wjs-profile-form__footer">
      <button type="submit" class="wjs-profile-form__update-button">Update</button>
    </div>
  </form>
{% endblock profile_form %}
