{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 i18n static wjs_tags %}

{% block page_title %}{% translate "Additional information" %}{% endblock page_title %}

{% block profile_form %}
  <h1 class="wjs-profile-form__title">{% translate "Additional information" %}</h1>
  <form class="wjs-profile-form" method="post" enctype="multipart/form-data">
    <div class="wjs-profile-form__main">
      <p>{% translate "Please provide as much information as possible to help the Journal, its editors and reviewers get to know you better." %}</p>
      {% csrf_token %}
      {% if journal|is_field_available:"records_arxiv" %}
        {% bootstrap_field form.records_arxiv wrapper_class="mb-4" %}
      {% endif %}
      {% if journal|is_field_available:"records_inspire" %}
        {% bootstrap_field form.records_inspire wrapper_class="mb-4" %}
      {% endif %}
      {% if journal|is_field_available:"records_scix" %}
        {% bootstrap_field form.records_scix wrapper_class="mb-4" %}
      {% endif %}
      {% if journal|is_field_available:"facebook" %}
        {% bootstrap_field form.facebook wrapper_class="mb-4" %}
      {% endif %}
      {% if journal|is_field_available:"twitter" %}
        {% bootstrap_field form.twitter wrapper_class="mb-4" %}
      {% endif %}
      {% if journal|is_field_available:"linkedin" %}
        {% bootstrap_field form.linkedin wrapper_class="mb-4" %}
      {% endif %}
      {% if journal|is_field_available:"records_other" %}
        {% bootstrap_field form.records_other wrapper_class="mb-4" %}
      {% endif %}
    </div>
    <div class="wjs-profile-form__footer">
      {% translate "Update" as update_label %}
      {% bootstrap_button button_class="wjs-profile-form__update-button align-self-start" button_type="submit" content=update_label %}
    </div>
  </form>
{% endblock profile_form %}
