{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 %}

{% block profile_form %}
<h1 class="wjs-profile-form__title">Password</h1>
<p>You can update your password by entering your existing password plus your new password. </p>
  <form class="wjs-profile-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wjs-profile-form__main">
      {% bootstrap_field form.current_password %}
      {% bootstrap_field form.new_password_one %}
      {% bootstrap_field form.new_password_two %}
    </div>
    <div class="wjs-profile-form__footer">
      <button type="submit" class="wjs-profile-form__update-button">Update</button>
    </div>
  </form>
{% endblock profile_form %}
