{% extends "wjs/profile/base.html" %}
{% load static django_bootstrap5 %}

{% block profile_form %}
<h1 class="wjs-profile-form__title">Personal details</h1>
  <form class="wjs-profile-form" method="post" enctype="multipart/form-data">
    <div class="wjs-profile-form__main">
    {% csrf_token %}
      {% bootstrap_field form.first_name %}
      {% bootstrap_field form.last_name %}
      <div class="wjs-profile-form__orcid">
        {% bootstrap_field form.orcid %}
        <button class="wjs-profile-form__orcid-button">
          <img alt="ORCID logo" src="{% static 'common/img/icons/orcid.gif' %}">
          Connect your ORCID iD
        </button>
      </div>
      <div class="wjs-profile-form__orcid-info">
        <img alt="ORCID logo" src="{% static 'common/img/icons/orcid.gif' %}">
        <a href="#" class="wjs-profile-form__orcid-info-text">https://orcid.org/0000-0001-8548-0880</a>
      </div>
    </div>
    <div class="wjs-profile-form__footer">
      <p class="w-50 mb-0">If you have any questions about how your personal data is managed, please contact <a href="mailto:privacy@medialab.sissa.it">privacy@medialab.sissa.it</a>
      </p>
      <button type="submit" class="wjs-profile-form__update-button align-self-start">Update</button>
    </div>
  </form>

{% endblock profile_form %}
