{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 i18n static wjs_tags %}

{% block page_title %}{% translate "Keywords" %}{% endblock page_title %}

{% block profile_form %}
  <h1 class="wjs-profile-form__title">{% translate "Keywords" %}</h1>
  <form class="wjs-profile-form" method="post">

    <div class="wjs-profile-form__main">
      <p>{% translate "Please select the keywords that best describe your areas of expertise. Appropriate keyword selection is crucial to optimize the review process." %}</p>

      {% csrf_token %}
      {% include "wjs/profile/_keywords_selection.html" %}

    </div>

    <div class="wjs-profile-form__footer mt-4">
      {% translate "Update" as update_label %}
      {% bootstrap_button button_class="wjs-profile-form__update-button align-self-start" button_type="submit" content=update_label %}
    </div>
  </form>
{% endblock profile_form %}
