{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 i18n static %}

{% block page_title %}{% translate "Password" %}{% endblock page_title %}

{% block profile_form %}
  <h1 class="wjs-profile-form__title">{% translate "Password" %}</h1>
  <form class="wjs-profile-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wjs-profile-form__main">
      {% bootstrap_field form.current_password wrapper_class="mb-4" %}
      {% bootstrap_field form.new_password_one wrapper_class="mb-4" %}
      {% bootstrap_field form.new_password_two wrapper_class="mb-4" %}
    </div>
    <div class="wjs-profile-form__footer">
      {% translate "Update" as update_label %}
      {% bootstrap_button button_class="wjs-profile-form__update-button align-self-start" button_type="submit" content=update_label %}
    </div>
  </form>
{% endblock profile_form %}
