{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 i18n static wjs_tags %}

{% block page_title %}{% translate "Edit assignment parameters" %}{% endblock page_title %}

{% block profile_form %}
  <h1 class="wjs-profile-form__title">{% translate "Edit assignment parameters" %}</h1>

  <form class="wjs-profile-form" method="post">
    {% csrf_token %}
    <div class="wjs-profile-form__main">
      <div class="mb-4">
        <p>{% translate "Please provide your availability to be assigned new submissions." %}</p>
            {% bootstrap_field form.enabled %}
        <div class="row g-6">
          <div class="col-6">
            {% bootstrap_field form.vacancy_start layout="horizontal" horizontal_label_class="col-sm-4" horizontal_field_class="col-sm-6" %}
          </div>
          <div class="col-6">
            {% bootstrap_field form.vacancy_end layout="horizontal" horizontal_label_class="col-sm-4" horizontal_field_class="col-sm-6" %}
          </div>
          <div class="col-6">
            {% bootstrap_field form.workload layout="horizontal" horizontal_label_class="col-4" horizontal_field_class="col-sm-8" %}
          </div>
        </div>
      </div>
      <div class="mb-4">
        <p><b>{% translate "Please select the keywords that best describe your areas of expertise. Appropriate keyword selection is crucial to optimize the review process." %}</b></p>
        {% include "wjs/profile/_keywords_selection.html" %}
      </div>
    </div>
    <div class="wjs-profile-form__footer">
      {% translate "Update" as update_label %}
      {% bootstrap_button button_class="wjs-profile-form__update-button align-self-start" button_type="submit" content=update_label %}
    </div>
  </form>
{% endblock profile_form %}
