{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 i18n static wjs_tags %}

{% block page_title %}{% translate "Paper assignments parameters" %}{% endblock page_title %}

{% block profile_form %}
  <h1 class="wjs-profile-form__title">{% translate "Paper assignments parameters" %}</h1>

  <form class="wjs-profile-form" method="post">
    {% csrf_token %}
    <div class="wjs-profile-form__main">
      {% bootstrap_field form.workload wrapper_class="mb-4" %}
      <div class="mb-4">
        <p>{% translate "Please select the keywords that best describe your areas of expertise." %}</p>
        <label class="form-label" for="{{ form.keywords.id_for_label }}">{{ form.keywords.label }}</label>
        {% include "wjs/profile/_keywords_selection.html" %}
      </div>
    </div>
    <div class="wjs-profile-form__footer">
      {% translate "Update" as update_label %}
      {% bootstrap_button button_class="wjs-profile-form__update-button align-self-start" button_type="submit" content=update_label %}
    </div>
  </form>
{% endblock profile_form %}
