{% load static %}
{% load i18n %}
{% load wjs_tags %}

{% url 'articles_by_section' article.section.pk as by_url %}
{% url 'articles_by_author' author.author.pk as by_author %}
<div class="card-panel">
    <div class="row article-listing-card">
        <div class="article-listing-card-header">
            <span class="date">
                <i class="fa fa-calendar"></i>
                {{ article.date_published|date:"M d, Y" }}
            </span>

            <a href="{{ by_url }}">
                <span class="new badge color-section-{{ article.section.id }}">{{ article.section.name }}</span>
            </a>
        </div>

        <a href="{% if article.is_remote %}{{ article.remote_url }}{% else %}{{ article.url }}{% endif %}">
            <h5 class="article-title">{{ article.title|safe }}</h5>
        </a>

        <p class="article-listing-card-header-authors">
            by
            {% for author in article.frozen_authors.all %}
                {% if forloop.last %}
                    {% if article.frozen_authors.all|length > 1 %}
                        {% trans "and" %}
                    {% endif %}
                {% endif %}
                <a href="{{ by_author }}">{{ author.full_name }}</a>{# djlint:off #}{% if not forloop.last %}{% if not forloop.counter == article.frozen_authors.all|length|add:-1 %}, {% endif %}{% endif %}{# djlint:on #}
            {% endfor %}
        </p>
        <div>
            {% autoescape off %}
                {{ article.abstract }}
            {% endautoescape %}
        </div>
        {% if article|has_attr:"genealogy" and article.genealogy.children.exists %}
            <div class="genealogy">
                {% for kid in article.genealogy.children.all %}
                <div class="genealogy-item">
                    <h6>
                        <a href="{{ kid.url }}">{{ kid.title }}</a>
                    </h6>
                    by {% for au in kid.frozen_authors.all %}
                        <a href="{% url 'articles_by_author' au.author.pk %}">{{ au.full_name }}</a>{# djlint:off #}{% if forloop.revcounter0 >= 2 %},{% endif %}{% if forloop.revcounter0 == 1 %} and{% endif %}{# djlint:on #}
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        {% endif %}

        <p class="article-listing-card-volume">
            {% if article.issue %}
                <i class="fa fa-book"></i>
                <a class="issue-link" href="{{ article.issue.url }}">{{ article.issue.display_title }}</a>
            {% endif %}
            {% if article.issues.count > 1 %}
                <p>
                    <strong><i class="fa fa-info-circle"></i> {% trans "Also a part of:" %}</strong>
                </p>
                {% for other in article.issues.all %}
                    {% if other != article.issue %}
                        <p>
                            <i class="fa fa-book"></i>
                            <a class="issue-link" href="{{ other.url }}">{{ other.issue_type.pretty_name }}: {{ other.display_title }}</a>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>
</div>
