{% load wjs_tags %}
    <!-- Commented out meta fields are TODO -->

    <!-- <meta name="DC.Coverage.spatial" xml:lang="en" content="London"/> -->

    <!-- <meta name="DC.Coverage.temporal" xml:lang="en" content="long-eighteenth century"/> -->


    <meta name="description" content="{{ article|description }}"/>
    {% if article.large_image_file.id %}<link rel="image_src" href="{% url 'article_file_download' 'id' article.id article.large_image_file.id %}" />{% endif %}
    <link rel="canonical" href="{{ article.url }}"/>
    <meta http-equiv="content-language" content="{{ article.language }}" />
    {% if article.date_published %}<meta property="article:published_time" content="{{ article.date_published|date:"c" }}" />{% endif %}
    {% if article.last_modified %}<meta property="article:modified_time" content="{{ article.last_modified|date:"c" }}" />{% endif %}

    {% for author in article.frozen_authors.all %}
        <meta name="dcterms.creator" content="{{ author.dc_name_string }}" />
    {% endfor %}
    {% for keyword in article.keywords.all %}
        <meta name="dcterms.subject" content="{{ keyword.word }}" />
    {% endfor %}
    <meta name="dcterms.title" content="{{ article.title|striptags }}" />
    <meta name="dcterms.description" content="{{ article.description|striptags }}" />
    <meta name="dcterms.publisher" content="{{ article.publisher }}" />
    <meta name="dcterms.date" content="{{ article.date_published|date:"Y/m/d" }}" />
    <meta name="dcterms.type" content="Text" />
    {# Is it right? I tried to reproduce precisely what I see in the old website, for example https://jcom.sissa.it/archive/22/01/JCOM_2201_2023_R01 #}
    {% if article.identifier.id_type == "doi" %}<meta name="dcterms.identifier" content="info:doi/{{ article.identifier.identifier}}" />{% endif %}
    <meta name="dcterms.bibliographicCitation" content="{{ article|how_to_cite|striptags|force_escape }}" />
    <meta name="dcterms.isPartOf" content="urn:ISSN:{{ article.journal_issn }}" />

    {% if article.publisher_name%}<meta name="citation_publisher" content="{{ article.publisher_name }}"/>
    {% elif journal_settings.general.publisher_name %}<meta name="citation_publisher" content="{{ journal_settings.general.publisher_name }}"/>
    {% endif %}
    <meta name="citation_journal_title" content="{{ article.journal_title }}"/>
    <meta name="citation_journal_abbrev" content="{{ article.journal.code }}"/>
    <meta name="citation_issn" content="{{ article.journal_issn }}"/>
    {% for author in article.frozen_authors.all %}
        <meta name="citation_author" content="{{ author.dc_name_string }}"/>
        {% if not '@journal.org' in author.author.email %}
            <meta name="citation_author_email" content="{{ author.author.email }}"/>
        {% endif %}
        {% if author.institution %}<meta name="citation_author_institution" content="{{ author.institution }}"/>{% endif %}
    {% endfor %}
    <meta name="citation_title" content="{{ article.title | striptags }}"/>
    {# https://scholar.google.no/intl/en/scholar/inclusion.html#indexing 2.C #}
    {% if article.date_published %}<meta name="citation_publication_date" content="{{ article.date_published|date:"Y/n/j" }}"/>{% endif %}
    {% if article.issue.volume %}<meta name="citation_volume" content="{{ article.issue.volume }}"/>{% endif %}
    {% if article.issue.issue %}<meta name="citation_issue" content="{{ article.issue.issue|floatformat }}"/>{% endif %}
    <meta name="citation_section" content="{{ article.section.name }}"/>
    {% if article.page_number %}
        <meta name="citation_firstpage" content="{{ article.page_number }}"/>
    {% elif article.page_range %}
        <meta name="citation_firstpage" content="{{ article.page_range }}"/>
    {% endif %}
    <meta name="citation_id" content="{{ article|citation_id }}"/>
    {% if article.identifier.id_type == "doi" %}<meta name="citation_doi" content="{{ article.identifier.identifier }}"/>{% endif %}
    <meta name="citation_abstract_html_url" content="{{ article.url }}"/>
    {% if article.language %}<meta name="citation_language" content="{{ article.language }}"/>{% endif %}

    {% for keyword in article.keywords.all %}
        <meta name="citation_keywords" content="{{ keyword.word }}"/>
    {% endfor %}
    <meta name="citation_public_url" content="{{ article.url }}"/>
    {% if article.pdfs.exists %}
    <meta name="citation_pdf_url" content="{{ article.url }}download/pdf/"/>
    {% endif %}
    {% include "elements/article_social_meta.html" %}
