{% load i18n %}
<div class="row">
    <div class="col m10">
        <div class="text-left">
            <ul class="list-inline"><p></p>
            {% if request.journal.issn %}
                <li class="list-inline-item">
                    ISSN: {{ request.journal.issn }}
                </li>
            {% endif %}
            {% if request.journal.print_issn %}
                <li class="list-inline-item">
                    {% trans "Print ISSN:" %} {{ request.journal.print_issn }}
                </li>
            {% endif %}
            {% if journal_settings.general.publisher_name %}
                <li class="list-inline-item">
                    {% trans "Published by" %}
                    {% if journal_settings.general.publisher_url %}
                        <a href="{{ journal_settings.general.publisher_url }}">
                    {% endif %}
                            {{ journal_settings.general.publisher_name }}
                    {% if journal_settings.general.publisher_url %}
                        </a>
                    {% endif %}
                </li>
            {% endif %}
            </ul>
            
            <p>{% trans "VAT number: IT01097780322" %}</p>
        </div>
    </div>
    <div class="col m2 text-right">
            <ul class="list-inline">
                {% if journal_settings.general.privacy_policy_url %}
                    <li class="list-inline-item">
                        <a href="{{ journal_settings.general.privacy_policy_url }}">
                            {% trans "Privacy Policy" %}
                        </a>
                    </li>
                {% else %}
                    <li class="list-inline-item">
                        <a href="{% url 'cms_page' 'privacy' %}">
                            {% trans "Privacy Policy" %}
                        </a>
                    </li>
                {% endif %}
                <li class="list-inline-item"><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
            </ul>
    </div>
</div>


