{% load static from staticfiles %}

<div id="modal1" class="modal">
    <div class="card">
        <div class="card-divider">
            <h4>{% trans "Newsletter unsubscription" %}</h4>
        </div>
        <div class="card-section">
            <p>{% trans "Are you sure to unsubscribe?" %}</p>
            <form method="post">
                {% csrf_token %}
                <a type="submit" href="{% url "unsubscribe_newsletter" object.pk %}" class="btn"><i class="fa fa-check">&nbsp;</i>{% trans "Yes" %}
                </a>
                <a class="btn modal-close red" name="unsubscription-confirmation"><i
                        class="fa fa-times">&nbsp;</i>{% trans "No" %}
                </a>
            </form>
        </div>
    </div>
</div>
