{% load i18n %}
{% load wjs_tags %}
<aside class="card article-sidebar">
    <div class="card-content">
        {% include "common/elements/altmetric_badges.html" with article=article %}
        {% include "journal/components/article_downloads.html" with article=article show_spacer=True %}
        <h4 class="article-sidebar-title">{% trans "Share" %}</h4>
        {% with article.get_doi_url as doi_url %}
            <a class="waves-effect waves-light btn btn-small svg-container facebook-bg"
               href="https://www.facebook.com/share.php?p[url]= {% if doi_url %}{{ doi_url }}{% else %}{{ article.url }}{% endif %}"
               target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="waves-effect waves-light btn btn-small svg-container twitter-bg"
               href="https://bsky.app/intent/compose?text={{ article.title }} {% if doi_url %}{{ doi_url }}{% else %}{{ article.url }}{% endif %}"
               target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/></svg>
            </a>
            <a class="waves-effect waves-light btn btn-small svg-container linkedin-bg"
               href="https://www.linkedin.com/sharing/share-offsite?url= {% if doi_url %}{{ doi_url }}{% else %}{{ article.url }}{% endif %}"
               target="_blank"><i class="fa fa-linkedin"></i></a>
        {% endwith %}
        <div class="spacer">
            <div class="divider"></div>
        </div>
        {% if article.non_specialist_summary %}
            <h2 class="article-sidebar-title">{% trans "Additional resources" %}</h2>
                {{ article.non_specialist_summary|safe }}
            <div class="spacer">
                <div class="divider"></div>
            </div>
        {% endif %}
        {% if article.is_published and not journal_settings.article.suppress_how_to_cite %}
            <h2 class="article-sidebar-title">{% trans "How to Cite" %}</h2>
            {{ article|how_to_cite|safe }}
            <div class="spacer">
                <div class="divider"></div>
            </div>
        {% endif %}
        {% if article.keywords.count > 0 %}
            <h2 class="article-sidebar-title">{% trans "Keywords" %}</h2>
            <ul class="article-sidebar-keywords-list">
                {% for keyword in article.keywords.all %}
                    <li>
                        {% if journal_settings.general.keyword_list_page %}
                            <a href="{% url 'articles_by_keyword' keyword.pk %}">
                            {% endif %}
                            {{ keyword.word }}
                            {% if journal_settings.general.keyword_list_page %}</a>{% endif %}
                    {% endfor %}
                </li>
            </ul>
            <div class="spacer">
                <div class="divider"></div>
            </div>
        {% endif %}
            <h2 class="article-sidebar-title">{% trans "Rights" %}</h2>
        {% if article.rights %}
            {{ article.rights | safe }}
        {% else %}
            © Authors
        {% endif %}
            <div class="spacer">
                <div class="divider"></div>
            </div>
        {% if article.publisher_notes.all %}
            <h2 class="article-sidebar-title">{% trans "Publisher Notes" %}</h2>
            <ul>
                {% for note in article.publisher_notes.all %}<li>{{ note.text|safe }}</li>{% endfor %}
            </ul>
            <div class="spacer">
                <div class="divider"></div>
            </div>
        {% endif %}
        {% if article.funders.all %}
            <div class="callout primary">
                <h2 class="article-sidebar-title">{% trans "Funding" %}</h2>
                <ul>
                    {% for funder in article.funders.all %}
                        <li>
                            {% if funder.fundref_id %}
                                <a href="{% url "funder_articles" funder.fundref_id %}">
                                {% endif %}
                                {{ funder.name }}
                                {% if funder.fundref_id %}</a>{% endif %}
                            {% if funder.funding_id %}(grant {{ funder.funding_id }}){% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% include "journal/article_issue_list.html" %}
        <div class="spacer">
            <div class="divider"></div>
        </div>
        {% if article.date_accepted or article.date_published %}
            <h4 class="article-sidebar-title">{% trans "Publication date" %}</h4>
            {{ article.date_published|date:DATE_FORMAT }}
            <div class="spacer">
                <div class="divider"></div>
            </div>
        {% endif %}
        <h4 class="article-sidebar-title">{% trans "Licence" %}</h4>
        <p>
            {{ article.license.name }}
            {% if article.license.url %}
                <a rel="license" href="{{ article.license.url }}"><i class="fa fa-external-link"></i></a>
            {% endif %}
        </p>
        <div class="spacer">
            <div class="divider"></div>
        </div>
        {% with article.get_doi_url as doi_url %}
            {% if doi_url %}
                <h4 class="article-sidebar-title">{% trans "Identifiers" %}</h4>
                <ul>
                    <li>
                        DOI: <a href="{{ doi_url }}">{{ doi_url }}</a>
                    </li>
                </ul>
                <div class="spacer">
                    <div class="divider"></div>
                </div>
            {% endif %}
        {% endwith %}
        {% if article.peer_reviewed %}
            <h4 class="article-sidebar-title">{% trans "Peer Review" %}</h4>
            <p>
                <i class="fa fa-check-circle-o" id="color-green"></i>
                {% trans "This article has been peer reviewed." %}
            </p>
            {% if journal_settings.general.open_peer_review %}
                {% if article.public_reviews.count > 0 %}
                    <p>
                        {% for review in article.public_reviews %}
                            <button data-target="reviewmodal-{{ review.pk }}" class="btn modal-trigger">
                                Review by {{ review.reviewer.full_name }}
                            </button>
                        {% endfor %}
                        <br />
                    </p>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if article.custom_fields %}
            {% for field in article.custom_fields %}
                <div class="spacer">
                    <div class="divider"></div>
                </div>
                <h4 class="article-sidebar-title">{% trans field.field.name %}</h4>
                <p>{{ field.answer|safe }}</p>
            {% endfor %}
            <div class="spacer">
                <div class="divider"></div>
            </div>
        {% endif %}
    </div>
</aside>
{% if article_content %}
    <div class="card toc-card hide-on-small-only" id="toc-card">
        <div class="card-content">
            <h4 class="article-sidebar-title">{% trans "Table of Contents" %}</h4>
            <ul id="toc" class="section table-of-contents">
            </ul>
        </div>
    </div>
{% endif %}
<div class=" right-aligned right-align hide-on-large-only">
    <a class="btn-floating waves-effect waves-light" href="#article-top"><i class="tiny material-icons">arrow_drop_up</i></a>
</div>
