{% load i18n hooks %}
{% if article_content %}
    <div id="main_article" itemprop="articleBody" class="article-body">
        <div class="card">
            <div class="card-content">
                {{ article_content|safe }}
                {% hook 'article_footer_block' %}
            </div>
        </div>
        <div class=" right-aligned right-align">
            <a class="btn-floating waves-effect waves-light" href="#article-top"><i class="tiny material-icons">arrow_drop_up</i></a>
        </div>
    </div>
{% endif %}
