{% load i18n %}
{% load materializecss %}
<form method="get" action="{% url 'search' %}">
    <div class="row">
        {{ form.article_search|materializecss }}
        <ul class="col s12 form-group collapsible collapsible-search">
            <li>
                <div class="collapsible-header">
                    {% trans "Filter by section" %}
                    <i class="material-icons right">arrow_drop_down</i>
                </div>
                <div class="collapsible-body">
                    {{ form.sections|materializecss }}
                </div>
            </li>
        </ul>
        <ul class="col s12 form-group collapsible collapsible-search">
            <li>
                <div class="collapsible-header">
                    {% trans "Filter by keyword" %}
                    <i class="material-icons right">arrow_drop_down</i>
                </div>
                <div class="collapsible-body">
                    {{ form.keywords|materializecss }}
                </div>
            </li>
        </ul>
        {{ form.year|materializecss }}
        {{ form.sort|materializecss }}
        {{ form.show|materializecss }}
        <div class="col s12">
            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
        </div>
    </div>
</form>
