{% extends "wjs/base/base.html" %}
{% load django_bootstrap5 i18n %}

{% block title %}
  {% if error %}{% translate "No account" %}{% else %}{% translate "Accept invitation" %}{% endif %}
{% endblock title %}

{% block content %}
<div class="col-sm-12">
  <div class="card shadow-sm">
    <div class="card-body p-4">

      <div class="row">
        <div class="col-md-6 offset-md-3">

          {% if error %}
            <div class="alert alert-warning border-0 shadow-none mb-0" role="alert">
              <p class="mb-0 text-dark">{% translate "The account does not exist." %}</p>
            </div>
          {% else %}
            <h1 class="h4 text-dark text-center mb-4">
              {% blocktranslate %}Hello {{ first_name }} {{ last_name }}!{% endblocktranslate %}
            </h1>

            <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="text-center">
                {% translate "Accept invitation" as btn_label %}
                {% bootstrap_button button_type="submit" content=btn_label button_class="btn-primary" %}
              </div>
            </form>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
