{% load i18n django_bootstrap5 %}

{% translate "Close" as close_label %}

<div
  class="modal fade"
  id="password-modal"
  tabindex="-1"
  aria-labelledby="passwordModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title fs-5" id="passwordModalLabel">
          {% translate "Password Guide" %}
        </h2>

        {% bootstrap_button button_type="button" button_class="btn-close" aria_label=close_label data_bs_dismiss="modal" content="" %}
      </div>

      <div class="modal-body">
        {% include "admin/elements/forms/messages_in_callout.html" with form=form %}

        <p class="lead text-secondary">
          {% translate "When it comes to passwords, length is better than complexity." %}
        </p>

        <p>
          {% blocktranslate %}
            It's a common myth that a short and complex password
            <em>Jfjfy&65^87</em> is more secure than a long and uncomplicated password
            <em>our awesome moon base rocks</em>.
          {% endblocktranslate %}
        </p>

        <p>
          {% blocktranslate %}
            We recommend selecting a long, but easy to remember
            password such as <em>our awesome moon base rocks</em>, which would take an
            estimated septillion years to crack, as opposed to a complex one like
            <em>Jfjfy&65^87</em>, which would take just over 600 years on a standard
            computer.
          {% endblocktranslate %}
        </p>
      </div>

      <div class="modal-footer">
        {% bootstrap_button button_type="button" button_class="btn-primary" content=close_label data_bs_dismiss="modal" %}
      </div>

    </div>
  </div>
</div>
