{% extends "wjs/base/base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}
  {% translate "Enter your new password" %}
{% endblock title %}

{% block content %}
<div class="col-sm-12">
  <div class="card shadow-sm border-0">
    <div class="card-body p-4">

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="alert alert-info py-4 shadow-none border-0 bg-light mb-4" role="note">
            <p class="fw-bold mb-2">{% translate "Password Rules" %}:</p>
            <ul class="ps-4 mb-3 text-dark">
              {% include "common/elements/password_rules.html" %}
            </ul>
            <p class="mb-0">
              {% translate "password guide" as pwd_guide_label %}
              {% blocktranslate %}
                For more information read our
                {% bootstrap_button button_type="link" href="#" content=pwd_guide_label button_class="p-0 border-0 text-decoration-underline fw-bold" data_bs_toggle="modal" data_bs_target="#password-modal" %}
              {% endblocktranslate %}
            </p>
          </div>

          <form method="post" action="">
            {% csrf_token %}

            {% bootstrap_field form.password_1 %}
            {% bootstrap_field form.password_2 %}

            <div class="text-center mt-5">
              {% translate "Save" as btn_label %}
              {% bootstrap_button button_type="submit" button_class="btn-primary" content=btn_label %}
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>

{% include "admin/core/accounts/password_guide.html" %}
{% endblock content %}
