{% extends "wjs/base/base.html" %}
{% load django_bootstrap5 i18n %}

{% block title %}
  {% if activated %}{% translate "Thank you" %}{% else %}{% translate "Account already active" %}{% endif %}
{% endblock title %}

{% block content %}
<div class="col-sm-12">
  <div class="card shadow-sm">
    <div class="card-body p-4">

      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">

          {% if activated %}
            <h1 class="h4 text-dark mb-4">{% translate "Thank for your acceptance" %}</h1>
            <p class="text-dark mb-0">
              {% translate "We will send an email to you to set your password" %}
            </p>
          {% else %}
            <h1 class="h4 text-dark mb-4">{% translate "Your account is already active." %}</h1>
            {% url 'core_login' as login_url %}
            {% translate "Login" as login_label %}
            {% bootstrap_button button_type="link" href=login_url content=login_label button_class="btn-outline-primary" %}
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
