<div class="row">
    <div class="col m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{% trans "Edit assignment parameters" %}</span>
                <p>{% trans "Go to your your assignment parameters by clicking the button below." %}</p>
                <a href="{% url 'assignment_parameters' %}" class="btn btn-warning button warning">Assignment
                    parameters</a>
            </div>
        </div>
    </div>
</div>
