{% extends "core/base.html" %}
{% load materialize %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col s12">
            <h2 class="main-title">{% trans "Paper assignements parameters" %}</h2>
            <div class="card-panel">
                <form method="post">
                    {% csrf_token %}
                    {% materialize_form form %}
                    <input type="submit" class="btn"/>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
{% block css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock css %}
{% block js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock js %}
