{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ page.display_name }}{% endblock title %}

{% block page_title %}{{ page.display_name }}{% endblock page_title %}

{% block body %}
  <div class="row">
    <div class="content-row col {% if page.display_toc %}m9 s12{% else %}m12{% endif %}">
      <div class="cms-page card">
        <div id="cms-title" class="card-content">
          <h1 class="main-title">{{ page.display_name }}</h1>
          <div class="divider spacer"></div>
          <div id="main_article" class="cms-page-content-description">{{ page.content|safe }}</div>
        </div>
      </div>
    </div>
    {% if page.display_toc %}
      <div class="col m3 hide-on-small-and-down">
        {# djlint:off #}
        <div class="card toc-card" id="toc-card" style="display: none">
          {# djlint:on #}
          <div class="card-content">
            <h4>
              {% trans "Table of Contents" %}
            </h4>
            <ul id="toc" class="section table-of-contents">
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock body %}

{% block js %}
  <script src="{% static 'material/toc.js' %}"></script>
  <script>
    const setTocCardPosition = (element) => {
      const contentCard = $(".cms-page .card-content");
      const toc = $("#toc-card");
      const infobar_y = document.querySelector(".content-row").offsetTop;
      const y = $(element).scrollTop();
      const padding = contentCard.innerHeight() - contentCard.height();
      toc.fadeIn();
      if (y > infobar_y) {
        toc.css({ top: `${padding / 2}px` });
      } else {
        toc.css({ top: `${infobar_y - y}px` });
      }
    };
    $(window).on("load", function() {
      setTocCardPosition(".cms-page .card-content");
      $(".scrollspy").scrollSpy();
    });
    $(document).scroll(function() {
      setTocCardPosition(this);
    });
  </script>
{% endblock js %}
