{% extends "wjs/base/elements/bootstrap.html" %}
{% load django_bootstrap5 static %}
{% block bootstrap5_extra_head %}
  <script src="{% static "js/htmx.min.js" %}"></script>
  <script src="{% static "common/js/tinymce/tinymce.min.js" %}"></script>
  <script src="{% static "django_tinymce/init_tinymce.js" %}"></script>
  <script src="{% static "js/htmx_tinymce.js" %}"></script>
  <link rel="stylesheet" href="{% static "admin/css/admin.css" %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {% if request.journal.favicon %}
    <link rel="icon" href="{{ journal.favicon.url }}" type="image/vnd.microsoft.icon" />
  {% elif request.repository.favicon %}
    <link rel="icon" href="{{ request.repository.favicon.url }}" type="image/vnd.microsoft.icon" />
  {% endif %}
{% endblock bootstrap5_extra_head %}
{% block bootstrap5_content %}
  <div class="bg-body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "wjs/base/elements/modal_htmx.html" %}
    {% block header %}
      {% include "wjs/base/elements/header.html" %}
    {% endblock header %}

    {% autoescape off %}
      {% bootstrap_messages %}
    {% endautoescape %}

    {% block breadcrumbs_wrapper %}
    {% endblock breadcrumbs_wrapper %}

    {% block content_wrapper %}
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    {% endblock content_wrapper %}

    {% block footer %}
      {% include "wjs/base/elements/footer.html" %}
    {% endblock footer %}

    {% block js %}
    {% endblock js %}
  </div>
{% endblock bootstrap5_content %}
