{% extends "wjs/profile/base.html" %}
{% load django_bootstrap5 i18n static wjs_tags %}

{% block page_title %}{% translate "Publication alert" %}{% endblock page_title %}

{% block profile_form %}
  <h1 class="wjs-profile-form__title">{% translate "Publication alert" %}</h1>
  <form class="wjs-profile-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wjs-profile-form__main">
      {% bootstrap_form_errors form %}
      <p>
        {% translate "Your subscription is active. Please use the checkboxes if you wish to change your topics of interest and limit incoming alerts to new publications matching those topics only." %}
        <br/>
        {% translate "If new topics are added to the list in the future, you will be automatically subscribed to them and will be able to uncheck them from this page." %}
      </p>

      {% include "wjs/profile/_keywords_selection.html" %}

      {% bootstrap_field form.news wrapper_class="mb-4" %}
      {% if form.language %}{% bootstrap_field form.language wrapper_class="mb-4" %}{% endif %}
    </div>

    <div class="wjs-profile-form__footer gap-3 d-flex">
      {% if active %}
        <!-- djlint:off -->
        {% translate "<i class=\"bi bi-floppy me-1\"></i> Save preferences" as update_label %}
        {% translate "<i class=\"bi bi-x me-1\"></i> Unsubscribe" as unsubscribe_label %}
        <!-- djlint:on -->
        {% translate "Publication alert subscription" as unsubscribe_modal_title %}
        {% bootstrap_button button_class="wjs-profile-form__update-button align-self-start" button_type="submit" content=update_label %}
        {% bootstrap_button button_class="btn-outline-primary" button_type="button" data_bs_toggle="modal" data_bs_target="#target_author_notes_id" content=unsubscribe_label %}
      {% else %}
        {% translate "Activate" as activate_label %}
        {% bootstrap_button button_class="wjs-profile-form__update-button align-self-start" button_type="submit" content=activate_label %}
      {% endif %}
    </div>
  </form>
  {% include "wjs/base/elements/modal.html" with modal_id="target_author_notes_id" modal_title=unsubscribe_modal_title include_path="wjs/newsletter/unsubscribe_confirmation_modal.html" modal_title_tag=3 %}
{% endblock profile_form %}
