{% load materialize %}

<div class="input-field col s12">
    {{ form.profession }}
    <label>Profession</label>
</div>
<div class="col s12">
    <p>
        {{ form.gdpr_checkbox }}
        <label for="{{ form.gdpr_checkbox.id_for_label }}">
            {% trans "By registering an account you agree to our" %}
            {% if journal_settings.general.privacy_policy_url %}
                <a href="{{ journal_settings.general.privacy_policy_url }}">{% trans "Privacy Policy" %}</a>
            {% else %}
                <a href="{% url 'cms_page' "privacy" %}">{% trans "Privacy Policy" %} </a>
            {% endif %}
        </label>
    </p>
</div>
