{% load i18n %}
{% load wjs_tags %}
{% with issue_length=article.issues_list|length %}
    <h4 class="article-sidebar-title">
        {% if issue_length > 1 %}
            {% trans article.primary_issue.issue_type.plural_name context "USER FACING" %}
        {% else %}
            {% trans article.primary_issue.issue_type.pretty_name context "USER FACING" %}
        {% endif %}
    </h4>
{% endwith %}
<ul>
    {% if article.primary_issue %}
        <li>
            <a href="{% url 'journal_issue' article.primary_issue.pk %}">
                {% if article.issues_list.count > 1 %}
                    {% trans "Primary: " context "USER FACING" %}
                {% endif %}
                {{ article.primary_issue|display_title }}
            </a>
            {% if journal_settings.article.display_guest_editors %}
                <br />
                {% include "common/elements/guest_editors.html" with issue=article.primary_issue small="small" %}
            {% endif %}
        </li>
    {% endif %}
    {% for issue in article.issues_list %}
        {% if not issue == article.primary_issue %}
            <li>
                <a href="{% url 'journal_issue' issue.pk %}">{% trans issue.issue_type.pretty_name context "USER FACING" %}: {{ issue|display_title }}</a>
            </li>
        {% endif %}
    {% empty %}
        <li>{% trans "This article is not a part of any issues" context "USER FACING" %}.</li>
    {% endfor %}
</ul>
