{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}
{% load files %}
{% load wjs_tags %}
{% block page_title %}
    {% if article.preprint %}
        {% trans "Preprint" %}
    {% endif %}
    {% trans "Article" %}
{% endblock page_title %}
{% block title %}
    {{ article.frozen_authors.0.last_name | striptags }} | {{ article.title | striptags }} |
    {{ journal_settings.general.journal_name | striptags }}
{% endblock title %}
{% block head %}
    {% include "elements/article_meta_tags.html" %}
{% endblock head %}
{% block css %}
    <style>
    img {
      max-width: 100%;
    }
    
    span#font-size-17 {
      font-size: 17px;
    }

    span#color-green {
      color: green;
    }

    div#toc-card {
      display: none;
    }

    h6 {
      font-size: 1.3rem;
    }
    </style>
{% endblock css %}
{% block body %}
    <article class="row">
        <div class="col s12">{% include "journal/components/article_header.html" %}</div>
        {% if article_content %}
            <div class="col s8">
                {% include "journal/components/article_documents.html" %}
                {% include "journal/components/article_content.html" %}
            </div>
        {% endif %}
        <div class="col{% if article_content %} s4{% else%} s12{% endif %}">{% include "journal/components/article_sidebar.html" %}</div>
    </article>
    {% include "elements/summary_modal.html" %}
    {% include "elements/public_reviews.html" %}
    {% for table in tables_in_galley %}
        {% include "elements/journal/table_modal.html" with content=table.content tableid=table.id %}
    {% endfor %}
{% endblock body %}
{% block js %}
    <script src="{% static 'material/toc.js' %}"></script>
    <script>
$(document).ready(function () {
$('.scrollspy').scrollSpy();
});
$(document).scroll(function () {
var infobar_y = document.querySelector('nav').offsetHeight
+ document.querySelector('.card-image').offsetHeight
+ document.querySelector('.m4').offsetHeight
var y = $(this).scrollTop();
if (y > infobar_y) {
$('#toc-card').fadeIn();
} else {
$('#toc-card').fadeOut();
}

});
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script>
MathJax.Hub.Config({
tex2jax: {inlineMath: [["\\(", "\\)"]]},
"HTML-CSS": {
linebreaks: {automatic: true, width: "container"}
}
});
    </script>
    <script>
$('.table-expansion').each(function () {
var child = $(this).children(":first")
child.append('<br /><small><a href="#table-' + $(this).attr('id') + '" class="modal-trigger">View Larger Table</a></small>');
});
    </script>
{% endblock js %}
