{% extends "core/base.html" %}
{% load hooks %}
{% load i18n %}
{% load pages %}
{% load wjs_tags %}

{% block page_title %}{% trans "Articles" %}{% endblock %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <h1 class="main-title">{% trans "Publications" %}</h1>
        </div>
        <div class="col m8">
            {% if pinned_articles and articles.number == 1 and not active_filters %}
                {% for article in pinned_articles %}
                    {% include "elements/article_listing.html" with article=article %}
                {% endfor %}
            {% endif %}

            {% for article in articles %}
                {% include "elements/article_listing.html" with article=article %}
                {% empty %}
                <p>No articles to display.</p>
            {% endfor %}
            {% include "elements/pagination.html" with page=articles %}
        </div>
        <div class="col m4">
            <div class="card-panel">

                {% search_form as search_params %}
                {% include "journal/components/search_sidebar.html" with form=search_params.form all_keywords=search_params.all_keywords %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}
