{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}

{% block page_title %}{% trans issue_type.plural_name  %}{% endblock %}
{% block title %}{% trans issue_type.plural_name  %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s12">
        {% for collection in collections %}
                <div class="card full-width-card">
                    <div class="card-image full-width-card-image">
                        <img
                            class="issue_image img-fluid"
                            src="{{ collection.hero_image_url }}"
                            alt="{{ collection.display_title }}"
                            onerror="if (this.src !='{% static 'common/img/sample/article-small.jpg' %}') this.src='{% static 'common/img/sample/article-small.jpg' %}'"
                        >
                            </div>
                        <div class="card-content">
                          <span class="date"><i class="fa fa-calendar"></i> {{ collection.date|date:"M d, Y" }}</span>

                            <h5 class="article-title">
                              <a href="{% url 'journal_collection' collection.id %}">{{ collection.display_title }}</a>
                            </h5>

                            {% if collection.short_description %}
                            <p>{{ collection.short_description|safe }}</p>
                            {% else %}
                            <p>{{ collection.issue_description|safe }}</p>
                            {% endif %}
                        </div>
              </div>
        {% empty %}
            <h4>{% trans "There are no collections to display" %}</h4>
        {% endfor %}
    </div>
    </div>


{% endblock %}
