{% extends "core/base.html" %}
{% load i18n %}
{% load pages %}

{% block page_title %}{{ title }}: {{ filtered_object }}{% endblock page_title %}
{% block title %}{{ title }}: {{ filtered_object }}{% endblock title %}

{% block body %}
    <h1>{{ title }}: {{ filtered_object }}</h1>
    <p><small><a href="{% url "journal_articles" %}">{% trans "Back to Articles List" %}</a></small></p>
    <p>{{ paragraph }}</p>

    {% for article in articles %}
        {% include "elements/article_listing.html" with article=article %}
    {% endfor %}
    <div class="pagination-block">
        <ul class="pagination">
            {% if articles.has_previous %}
                <li class="arrow"><a href="?page={{ articles.previous_page_number }}">«</a>
                </li>{% endif %}
            {{ articles.page.page_range }}
            {% for page in articles|slice_pages:3 %}
                <li class="{% if articles.number == page.number %}current{% endif %}"><a
                        href="?page={{ page.number }}">{{ page.number }}</a></li>
            {% endfor %}
            {% if articles.has_next %}
                <li class="arrow"><a href="?page={{ articles.next_page_number }}">»</a>
                </li>{% endif %}
        </ul>
    </div>
{% endblock body %}
