{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load roles %}
{% block title %}
    {% trans "Volumes and Issues" %}
{% endblock title %}
{% block body %}
    {% regroup issues by volume as volumes %}
    <div class="volumes-container">
    <h1 class="volumes-container__title">{% trans "Volumes and Issues" %}</h1>
        {% for volume in volumes %}
            <div class="volume">
                {% with volume_meta=volume.list|first %}
                    <h3 class="volume__title">Volume {{ volume_meta.volume }}, {{ volume_meta.date.year }}</h3>
                {% endwith %}
                <ul class="volumes-list">
                    {% for issue in volume.list %}
                        <li>
                            <a href="{% url 'journal_issue' issue.id %}">{{ issue.display_title }}</a>
                            <span class="count">({{ issue.get_sorted_articles.count }} {% trans "items" %})</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
