{% extends "core/base.html" %}
{% load i18n %}
{% load hooks %}
{% load wjs_tags %}
{% hook 'filter_search' %}
{% block title %}
    {% if filter_by %}
        {{ filter_by.title }}: {{ filter_by.filtering_object }}
    {% elif view.exclude_children %}
        {% trans "Publications" %}
    {% else %}
        {% trans "Search" %}
    {% endif %}
{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col s12{% if not filter_by %} l8{% endif %}">
            {% if filter_by %}
                <p>
                    <a href="{% url "journal_articles" %}">
                        <i class="fa fa-caret-left"></i>
                        {% trans "Browse all Publications" %}
                    </a>
                </p>
            {% endif %}
            <h2 class="main-title">
                {% if filter_by %}
                    {{ filter_by.title }}: {{ filter_by.filtering_object }}
                {% elif view.exclude_children %}
                    {% trans "Publications" %}
                {% else %}
                    {% trans "Search" %}
                {% endif %}
            </h2>
            {% if filter_by.paragraph %}<p>{{ filter_by.paragraph }}</p>{% endif %}
            <p>
                {% if paginator.count %}
                    {% blocktrans count counter=paginator.count %}
                        {{ counter }} publication found
                    {% plural %}
                        {{ counter }} publications found
                    {% endblocktrans %}
                {% else %}
                    {% trans "No articles to display." %}
                {% endif %}
            </p>
            {% for article in articles %}
                {% include "elements/article_listing.html" with article=article %}
            {% endfor %}
            {% include "elements/pagination.html" with page=page_obj %}
        </div>
        {% if not filter_by %}
            <div class="col s12 l4">
                <h2 class="main-title">{% trans "Search" %}</h2>
                <div class="card-panel">{% include "journal/components/search_sidebar.html" %}</div>
            </div>
        {% endif %}
    </div>
{% endblock body %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock js %}
