{% extends "core/base.html" %}
{% load i18n %}
{% load hooks %}
{% load wjs_tags %}

{% hook 'filter_search' %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block body %}
    {% sections as sections %}
    {% if search_term %}
        <h1>{% trans 'Searching for' %}: <i>{{ search_term }}</i></h1>
    {% elif keyword %}
        <h1>{% trans 'Keyword' %}: <i>{{ keyword }}</i></h1>
    {% endif %}

    <div class="row">
        <div class="col m8">
            <h2 class="main-title">{% trans "Publications" %}</h2>
            {% for article in articles %}
                {% include "elements/article_listing.html" with article=article %}
                {% empty %}
                <p>{% trans "No articles to display." %}</p>
            {% endfor %}
            {% include "elements/pagination.html" with page=articles %}

        </div>
        <div class="col m4">
            <h2 class="main-title">{% trans "Search" %}</h2>
            <div class="card-panel">
                {% include "journal/components/search_sidebar.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}
