{% load foundation %}

<div class="row">
    <div class="large-3 columns">
        {{ form.profession|foundation }}
    </div>
    <div class="large-6 columns">
        {{ form.gdpr_checkbox }}
        <label for="{{ form.gdpr_checkbox.id_for_label }}">{% trans "By registering an account you agree to our" %}
            {% if journal_settings.general.privacy_policy_url %}
                <a href="{{ journal_settings.general.privacy_policy_url }}">{% trans "Privacy Policy" %}</a>
            {% else %}
                <a href="{% url 'cms_page' "privacy" %}">{% trans "Privacy Policy" %} </a>
            {% endif %}
            *
        </label>
    </div>
</div>
