{% load static %}
{% load svg from press_url %}
{% load svg_or_image from press_url %}
{% load roles %}
{% load i18n %}
{% load hooks %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<nav class="header-overrides" role="navigation">
    <div class="nav-wrapper{% if not request.journal.full_width_navbar %} container{% endif %}">
        <div class="row top-nav">
            <div class="col s10 l8 left">
                <a id="logo-container"
                   href="{% url 'website_index' %}"
                   class="brand-logo">
                    {% if request.journal %}
                        {% if request.journal.header_image %}
                            {% svg_or_image request.journal.header_image css_class="header-override-image" %}
                        {% else %}
                            <img src="{% static "common/img/sample/janeway.png" %}" alt="{% trans "Logo Janeway" %}">
                        {% endif %}
                    {% else %}
                        <a href="{% url 'website_index' %}">{% svg request.press_cover %}</a>
                    {% endif %}
                </a>
            </div>
            <div class="col l4 hide-on-med-and-down actions">
                {% if request.available_languages|length > 1 %}
                    <form class="language-select"
                          action="{% url 'set_language' %}"
                          method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.PATH }}" />
                        {% for language in languages %}
                            {% if language.code in request.available_languages %}
                                <div class="language-select__wrapper">
                                    <button class="language-select__button {% if language.code == LANGUAGE_CODE %}language-select__button--selected{% endif %}"
                                            name="language"
                                            value="{{ language.code }}">{{ language.code }}</button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                {% endif %}
                <div class="actions-items">
                    <ul class="social-media-links platforms inline horizontal">
                        {% if journal_settings.general.facebook_handle %}
                        <li class="facebook">
                            <a href="{{ journal_settings.general.facebook_handle }}" target="_blank" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if journal_settings.general.twitter_handle %}
                        <li class="twitter">
                            <a href="{{ journal_settings.general.twitter_handle }}" target="_blank" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        {% endif %}
                        <li class="rss">
                            <a href="{% journal_url 'rss_articles' %}" target="_blank" title="RSS">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        {% if request.user.is_authenticated %}
                            <li>
                                <a class="dropdown-button" href="#!" data-activates="account">{% trans "Account" %}<i class="material-icons right">arrow_drop_down</i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col s2">
                <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">{% trans "menu" %}</i></a>
            </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="bottom-nav">
                <ul class="bottom-nav-menu">
                    {% if request.journal.nav_home %}
                        <li>
                            <a href="{% url 'website_index' %}">{% trans "Home" %}</a>
                        </li>
                    {% endif %}
                    {% if request.journal.nav_news %}
                        <li>
                            <a href="{% url 'core_news_list' %}">{{ journal_settings.news.news_title }}</a>
                        </li>
                    {% endif %}
                    {% if request.journal.nav_articles %}
                        <li>
                            <a href="{% url 'journal_articles' %}">{% trans "Articles" %}</a>
                        </li>
                    {% endif %}
                    {% if request.journal.nav_issues %}
                        <li>
                            <a href="{% url 'journal_issues' %}">{% trans "Issues" %}</a>
                        </li>
                    {% endif %}
                    {% if journal_settings.general.enable_editorial_display %}
                        <li>
                            <a href="{% url 'editorial_team' %}">{% trans "Editorial Team" %}</a>
                        </li>
                    {% endif %}
                    {% if request.journal.nav_sub %}
                        <li>
                            <a href="{% url 'journal_submissions' %}">{% trans "Submission" %}</a>
                        </li>
                    {% endif %}
                    {% if request.journal.nav_contact %}
                        <li>
                            <a href="{% url 'contact' %}">{% trans "Contact" %}</a>
                        </li>
                    {% endif %}
                    {% for item in navigation_items %}
                        {% if item.has_sub_nav %}
                            <li>
                                <a class="dropdown-button"
                                   href="#!"
                                   data-activates="{{ item.link_name|slugify }}">{{ item.link_name }}<i class="material-icons right">arrow_drop_down</i></a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ item.url }}" class="nav-link">{{ item.link_name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if request.journal.nav_review %}
                        <li>
                            <a href="{% url 'become_reviewer' %}"><i class="fa fa-trophy">&nbsp;</i>{% trans "Become a Reviewer" %}</a>
                        </li>
                    {% endif %}
                    {% hook 'nav_block' %}
                </ul>
                <div class="bottom-nav-search">
                    <form method="get" action="{% url 'search' %}">
                        <div class="input-field">
                            <button name="submit" class="btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ul class="side-nav" id="nav-mobile">
            {% if request.journal.nav_home %}
                <li>
                    <a href="{% url 'website_index' %}">{% trans "Home" %}</a>
                </li>
            {% endif %}
            {% if request.journal.nav_news %}
                <li>
                    <a href="{% url 'core_news_list' %}">{% trans "News" %}</a>
                </li>
            {% endif %}
            {% if request.journal.nav_articles %}
                <li>
                    <a href="{% url 'journal_articles' %}">{% trans "Articles" %}</a>
                </li>
            {% endif %}
            {% if request.journal.nav_issues %}
                <li>
                    <a href="{% url 'journal_issues' %}">{% trans "Issues" %}</a>
                </li>
            {% endif %}
            {% if journal_settings.general.enable_editorial_display == 'on' %}
                <li>
                    <a href="{% url 'editorial_team' %}">{% trans "Editorial Team" %}</a>
                </li>
            {% endif %}
            {% if request.journal.nav_sub %}
                <li>
                    <a href="{% url 'journal_submissions' %}">{% trans "Submission" %}</a>
                </li>
            {% endif %}
            {% if request.journal.nav_contact %}
                <li>
                    <a href="{% url 'contact' %}">{% trans "Contact" %}</a>
                </li>
            {% endif %}
            {% for item in navigation_items %}
                {% if item.has_sub_nav %}
                    <li>
                        <a class="dropdown-button"
                           href="#!"
                           data-activates="{{ item.link_name|slugify }}-mobile">{{ item.link_name }}<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ item.url }}" class="nav-link">{{ item.link_name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if request.user.is_authenticated %}
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">{% trans "Account" %}<i class="material-icons right">arrow_drop_down</i></a>
                </li>
            {% endif %}
            <li>
                <form method="get" action="{% url 'search' %}">
                    <div class="input-field">
                        <button name="submit" class="btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
            <li>
                {% if request.available_languages|length > 1 %}
                    <form class="language-select"
                          action="{% url 'set_language' %}"
                          method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.PATH }}" />
                        {% for language in languages %}
                            {% if language.code in request.available_languages %}
                                <div class="language-select__wrapper">
                                    <button class="language-select__button {% if language.code == LANGUAGE_CODE %}language-select__button--selected{% endif %}"
                                            name="language"
                                            value="{{ language.code }}">{{ language.code }}</button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                {% endif %}
            </li>
            <li>
                <ul class="social-media-links platforms inline horizontal">
                    <li class="facebook first">
                        <a href="https://www.facebook.com/jcom.sissa.it"
                           target="_blank"
                           title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="https://www.twitter.com/JsciCOM" target="_blank" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="rss last">
                        <a href="https://jcom.sissa.it/rss.xml?v=2" target="_blank" title="RSS">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% if request.user.is_authenticated %}
    {% include "core/user_menu/user_menu.html" %}
{% endif %}
{% for item in navigation_items %}
    {% if item.has_sub_nav %}
        <ul id="{{ item.link_name|slugify }}" class="dropdown-content">
            {% if item.link %}
                <li>
                    <a href="{{ item.url }}" class="dropdown-item">{{ item.link_name }}</a>
                </li>
            {% endif %}
            {% for subnav in item.sub_nav_items %}
                <li>
                    <a href="{{ subnav.url }}" class="dropdown-item">{{ subnav.link_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
{% for item in navigation_items %}
    {% if item.has_sub_nav %}
        <ul id="{{ item.link_name|slugify }}-mobile" class="dropdown-content">
            {% if item.link %}
                <li>
                    <a href="{{ item.url }}" class="dropdown-item">{{ item.link_name }}</a>
                </li>
            {% endif %}
            {% for subnav in item.sub_nav_items %}
                <li>
                    <a href="{{ subnav.url }}" class="dropdown-item">{{ subnav.link_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
