{% extends "newsletters/newsletter_template.html" %}
{% load i18n %}
{% load static %}
{% load svg_or_image from press_url %}
{% block content %}
  <table>
    {% if articles %}
    <tr>
        <td>
            <h2>{% trans "New publications" %}</h2>
        </td>
    </tr>

    <tr>
      <td>{{ articles|safe }}</td>
    </tr>
    {% endif %}
    {% if news %}
    <tr>
        <td>
            <h2>{% trans "News" %}</h2>
        </td>
        </tr>
        <tr>
        <td>
            {{ news|safe }}
        </td>
    </tr>
    {% endif %}
  </table>
{% endblock content %}
