{% extends "core/base.html" %}
{% block body %}
    <div class="row">
        <div class="s12 center">
            {% with journal_code=object.journal.code journal_name=object.journal.name %}
                <h2 class="main-title">{% trans "Subscription to be confirmed" context "USER FACING" %}</h2>
                <div class="card-panel">
                    <p>
                        {% blocktrans context "USER FACING" %}
                        An email with a confirmation link has been sent to your email address.
                        <br>
                        Please open the link to activate your publication alert.
                        {% endblocktrans %}
                    </p>
                </div>
            {% endwith %}
        </div>
    </div>
{% endblock body %}
