{% extends "admin/core/base.html" %}
{% load static from staticfiles %}
{% load foundation %}
{% load i18n %}

{% block body %}
    <h2>Newsletters </h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="success button" type="submit"><i
                class="fa fa-check">&nbsp;</i>{% trans "Save preferences" %}
        </button>
        <a data-open="unsubscription-confirmation" class="button" id="unsubscribe-button"><i
                class="fa fa-times">&nbsp;</i>{% trans "Unsubscribe" %}
        </a>
    </form>
    {% include "elements/unsubscribe_confirmation_modal.html" %}
{% endblock body %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock css %}

{% block js %}
    {{ block.super }}
    {{ form.media.js }}
    <script>
    </script>
{% endblock js %}

{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static "admin/js/modal.js" %}"></script>
    {{ form.media }}

{% endblock footer %}
