{% load static from staticfiles %}

<div id="modal1" class="modal">
    <div class="card">
        <div class="card-divider">
            <h4>{% trans "Publication alert subscription" %}</h4>
        </div>
        <div class="card-section">
            <p>{% trans "Please confirm that you do not wish to receive any JCOM publication alert" %}</p>
            <form method="post">
                {% csrf_token %}
                {% if object.newsletter_token %}
                    <a type="submit" href="{% url "unsubscribe_newsletter" object.newsletter_token %}" class="btn"><i class="fa fa-check">&nbsp;</i>{% trans "Yes" %}
                {% else %}
                    <a type="submit" href="{% url "unsubscribe_newsletter" object.pk %}" class="btn"><i class="fa fa-check">&nbsp;</i>{% trans "Yes" %}
                {% endif %}
                </a>
                <a class="btn modal-close red" name="unsubscription-confirmation"><i
                        class="fa fa-times">&nbsp;</i>{% trans "No" %}
                </a>
            </form>
        </div>
    </div>
</div>
