{% load hooks i18n materializecss static %}

<h5>{% trans "Core Data" %}</h5>
<div class="row">
  {{ form.first_name|materializecss:"m3,required=true" }}
  {{ form.middle_name|materializecss:"m3" }}
  {{ form.last_name|materializecss:"m3" }}
  {{ form.suffix|materializecss:"m1" }}
</div>
<div class="row">
  {{ form.department|materializecss:"m3" }}
  {{ form.institution|materializecss:"m3" }}
  {{ form.country|materializecss:"m3" }}
  {{ form.orcid|materializecss:"m3" }}
</div>
{% hook 'extra_corefields' %}
<hr />
<h5>{% trans "Biography and Interests" %}</h5>
<div class="row">
  {{ form.biography|materializecss:"m6" }}
  {{ form.keywords|materializecss:"m6" }}
</div>
<hr />
<h5>{% trans "Social Media and Accounts" %}</h5>
<div class="row">
  {{ form.twitter|materializecss:"m4" }}
  {{ form.facebook|materializecss:"m4" }}
</div>
<div class="row">
  {{ form.github|materializecss:"m4" }}
  {{ form.linkedin|materializecss:"m4" }}
  {{ form.website|materializecss:"m4" }}
</div>
