<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ journal }} - maintenance</title>
</head>
<body>
	<br><br>

	<center>
	<h1>{{ journal }}</h1>
	<h2>{{ motto }}</h2>

	<p>
	  Owing to maintenance operations,<br>
	  the {{ journal }} server is temporarily offline.<br>
	  Normal operations will resume as soon as possible.
	</p>

	<p>
	  We apologise for the inconvenience.<br>
	  The {{ journal }} staff
	</p>
	</center>
</body>
</html>
